<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
     <mapper namespace="com.marketkurly.www.admin.category.mapper.CategoryMapper">
		<!-- 카테고리 코드 유무 검사 -->
		<select id="exitCategoryCode" parameterType="String" resultType = "String">
			SELECT
				CODE
				FROM CATEGORY
				WHERE CODE=#{CODE}
		</select>
		
		<!-- 카테고리 추가 -->
		<insert id="addCategory" parameterType="com.marketkurly.www.admin.category.domain.Category">
			INSERT
				INTO CATEGORY(
							CODE
						  , NAME
					  	  , ABLED
				)
				VALUES (
					#{code}
				   ,#{name}
				   ,#{abled}
				)
		</insert>
		
		<!-- 카테고리 리스트 조회 -->
		<select id="getCategoryList" resultType="com.marketkurly.www.admin.category.domain.Category">
			SELECT CODE
				 , NAME
				 , ABLED
				 FROM CATEGORY
				 ORDER BY CODE
		</select>
		
		<!-- 카테고리 사용여부 변경 -->
		<update id="updateCategoryAbled" parameterType="String">
			UPDATE CATEGORY
				SET ABLED = DECODE(ABLED,'Y','N','Y')
				WHERE CODE=#{code}
		</update>
		
		<!-- 카테고리 정보 -->
		<select id="getCategoryInfo" parameterType="String" resultType="com.marketkurly.www.admin.category.domain.Category">
			SELECT CODE
				 , NAME
				 , ABLED
				 FROM CATEGORY
				 WHERE CODE=#{code}
		</select>
		
		<!-- 카테고리 전체 정보 -->
		<select id="getCategoryInfoAll" parameterType="String" resultType="com.marketkurly.www.admin.category.domain.Category">
			SELECT CODE
				 , NAME
				 , STARTDATE
				 , ABLED
				 FROM CATEGORY
				 WHERE CODE=#{code}
		</select>
		
		<!-- 카테고리 이력 정보 추가 -->
		<insert id="insertCategory_History" parameterType="com.marketkurly.www.admin.category.domain.Category">
			INSERT
				INTO CATEGORY_HISTORY(
					  CODE
					, NAME
					, STARTDATE
				)
				VALUES(
					#{code}
					, #{name}
					, #{startDate}
				)
		</insert>
		
		<!-- 카테고리 수정 -->
		<update id="updateCategory" parameterType="com.marketkurly.www.admin.category.domain.Category">
			UPDATE CATEGORY
				SET NAME=#{name}
					, STARTDATE = SYSDATE
					, ABLED=#{abled}
				WHERE CODE = #{code}
		</update>
		
		<!-- 카테고리 개수 조회 -->
		<select id="countCategory" resultType="int">
			SELECT 
			    COUNT(CODE) 
			    FROM CATEGORY
			    WHERE ABLED='Y'
		</select>
		
		<!-- 카테고리 이력 전부 조회 -->
		<select id="getCategoryHistoryList" resultType="com.marketkurly.www.admin.category.domain.CategoryHistory">
			SELECT CODE
				 , NAME
				 , STARTDATE
				 , ENDDATE
				 FROM CATEGORY_HISTORY
				 WHERE CODE = #{code}
				 ORDER BY STARTDATE DESC
		</select>
		
		<!-- 카테고리 이력 검색 -->
		<select id="searchCGHistory" parameterType = "com.marketkurly.www.admin.category.domain.CategoryHistory" resultType="com.marketkurly.www.admin.category.domain.CategoryHistory">
			SELECT CODE
				 , NAME
				 , STARTDATE
				 , ENDDATE
				 FROM CATEGORY_HISTORY
				 WHERE TO_CHAR(STARTDATE,'YYYY-MM-DD') <![CDATA[ <= ]]> TO_CHAR(#{endDate},'YYYY-MM-DD')
				 AND TO_CHAR(ENDDATE,'YYYY-MM-DD') <![CDATA[ >= ]]> TO_CHAR(#{startDate},'YYYY-MM-DD')
				 AND CODE = #{code}
				 ORDER BY STARTDATE DESC
		</select>
	</mapper>