<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
     <mapper namespace="com.marketkurly.www.admin.user.mapper.UserMapper">
		<!-- 회원 리스트 조회 -->
		<select id="getUserList" resultType="com.marketkurly.www.admin.user.domain.User">
			SELECT USER_ID
				 , USER_NAME
				 , USER_AUTH
				 , USER_EMAIL
				 , USER_PHONE
				 , USER_ADDRESS_CODE
				 , USER_ADDRESS
				 , USER_SUB_ADDRESS
				 , ABLED
				  FROM USER_TBL
		</select>
		
		<!-- 회원 사용여부 변경 -->
		<update id="updateUserAbled" parameterType="String">
			UPDATE USER_TBL
				SET ABLED = DECODE(ABLED,'Y','N','Y')
				WHERE USER_ID=#{user_id}
		</update>
		
		<!-- 권한 조회 -->
		<select id="getGrant" resultType="com.marketkurly.www.admin.grant.domain.Grant">
			SELECT CODE
				 , NAME
				 FROM GRANTLIST
				 WHERE ABLED = 'Y'
		</select>
		
		<!-- 회원 추가 -->
		<insert id="addMember" parameterType="com.marketkurly.www.admin.user.domain.User">
			INSERT
				INTO USER_TBL(
					USER_ID
					, USER_PW
					, USER_AUTH
					, USER_NAME
					, USER_EMAIL
					, USER_PHONE
					, USER_ADDRESS_CODE
					, USER_ADDRESS
					, USER_SUB_ADDRESS
					, ABLED
				) VALUES(
					#{user_id}
					, #{user_pw}
					, #{user_auth}
					, #{user_name}
					, #{user_email}
					, #{user_phone}
					, #{user_address_code}
					, #{user_address}
					, #{user_sub_address}
					, #{abled}
				)
		</insert>
	</mapper>