<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.marketkurly.www.common.user.login.mapper.LoginMapper">
     
	<resultMap type="com.marketkurly.www.common.user.domain.UserVO" id="userMap">
	    <id property="user_id" column="user_id"/>
	    <result property="user_id" column="user_id"/>
	    <result property="user_pw" column="user_pw"/>
	    <result property="user_auth" column="user_auth"/>
	</resultMap>
  
  
      <!-- 데이터읽기(로그인) -->
	  <select id="readLogin" resultMap="userMap">
			SELECT USER_ID
					,USER_PW
					,USER_AUTH
					,USER_NAME
					,USER_EMAIL
					,USER_PHONE
					,USER_ADDRESS_CODE
					,USER_ADDRESS
					,USER_SUB_ADDRESS
					,ABLED
				FROM USER_TBL
				WHERE USER_ID = #{user_id,jdbcType=VARCHAR}
				AND ABLED = 'Y'
	  </select>

</mapper>