<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.marketkurly.www.common.user.myPage.myInfo.mapper.MyInfoMapper">

	  <resultMap type="com.marketkurly.www.common.user.domain.UserVO" id="userMap">
	    <id property="user_id" column="user_id"/>
	    <result property="user_id" column="user_id"/>
	    <result property="user_pw" column="user_pw"/>
	    <result property="user_auth" column="user_auth"/>
	  </resultMap>

	<select id="readPw" resultMap="userMap">
		SELECT USER_ID
				,USER_PW
			FROM USER_TBL
			WHERE USER_ID = #{user_id,jdbcType=VARCHAR}
	</select>


	<!-- 데이터읽기(회원가입-이메일 중복검사) -->
	<select id="readEmail" resultMap="userMap">
			SELECT USER_EMAIL
				FROM USER_TBL
				WHERE USER_EMAIL = #{user_email,jdbcType=VARCHAR}
	</select>
  
  
    <!-- 데이터읽기(회원가입-핸드폰 중복검사) -->
	<select id="readPhone" resultMap="userMap">
			SELECT USER_PHONE
				FROM USER_TBL
				WHERE USER_PHONE = #{user_phone,jdbcType=VARCHAR}
	</select>


	<!-- 회원정보 수정  -->
	<update id="modifyUser">
				UPDATE USER_TBL
					SET USER_PW = #{user_pw,jdbcType=VARCHAR}
						,USER_NAME = #{user_name,jdbcType=VARCHAR}
						,USER_EMAIL = #{user_email,jdbcType=VARCHAR}
						,USER_PHONE = #{user_phone,jdbcType=VARCHAR}
						,USER_ADDRESS_CODE = #{user_address_code,jdbcType=VARCHAR}
						,USER_ADDRESS = #{user_address,jdbcType=VARCHAR}
						,USER_SUB_ADDRESS = #{user_sub_address,jdbcType=VARCHAR}
					WHERE USER_ID =  #{user_id,jdbcType=VARCHAR}
	</update>


	<!-- 회원탈퇴 -->
	<update id="deleteUser">
				UPDATE USER_TBL
					SET ABLED = 'N'
					WHERE USER_ID =  #{user_id,jdbcType=VARCHAR}
	</update>

</mapper>